html {
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(244,244,244);
  color: #333;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.search-movies-container {
  display: grid;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li img {
  display: block;
  margin:  auto;
}

